
@{
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Main</title>
    <link href="~/Content/Page.css" rel="stylesheet" />
    <link rel="icon" href="~/Images/food1.png" type="image/x-icon">
  
</head>
<body>
    
    @using (Html.BeginForm())
    {
    <div class="div1">

        @*<ul class="ul1">
            <li>
                <img src="~/Images/food1.png" />
            </li>
            <li>@Html.ActionLink("Main", "Main", "Page", new { area = "" }, new { @class = "navlink" })</li>
            <li>@Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "navlink" })</li>
            <li>@Html.ActionLink("About", "About", "Home", new { area = "" }, new { @class = "navlink" })</li>
            <li>@Html.ActionLink("Contact", "Contact", "Home", new { area = "" }, new { @class = "navlink" })</li>
            <li>@Html.ActionLink("Orders", "Index", "Page", new { area = "" }, new { @class = "navlink" })</li>
        </ul>*@
        <br />
        <br />
        <div class="div3">

            @Html.Partial("Create")
        </div>

        <img src="~/Images/veggies.png" class="img1" />
    </div>
    <div class="div2">
        <div class="div4">
            <div class="div5">
                <center class="c1">BestOne</center>
                <center class="c2">Our Services</center>
                <center><hr class="hr1" /></center>
                <center>
                    It is a long established fact that a reader will be distracted
                    by the readable content of a page when looking at its layout.The point of using loem ipsum is that it is
                    has more
                </center>
                <center class="c2">Read More</center>
            </div>
            </div>
            <div class="div6">
                <img src="~/Images/Coffee.png" />
                <p><b>Good Rest</b></p>
                <p>
                    long established fact that a reader will be distracted
                    by the readable content of a page when looking at its layout
                </p>
            </div>
            <div class="div7">

                <img src="~/Images/Twentyfour.png" />
                <p><b>24 / 7</b></p>
                <p>
                    long established fact that a reader will be distracted
                    by the readable content of a page when looking at its layout
                </p>
            </div>
            <div class="div8">
                <img src="~/Images/Food.png" />
                <p><b>Best Cuisine</b></p>
                <p>
                    long established fact that a reader will be distracted
                    by the readable content of a page when looking at its layout
                </p>
            </div>
            <div class="div9">
                
                <img src="~/Images/Fork.png" />
                <p><b>Special event catering</b></p>
                <p>
                    long established fact that a reader will be distracted
                    by the readable content of a page when looking at its layout
                </p>
            </div>
        </div>
    }
</body>
</html>
